<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TPAdministration.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GalaSoft.MvvmLight.WPF45" publicKeyToken="eabbf6a5f5af5004" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.27.22784" newVersion="4.1.27.22784" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TPAdministration.Properties.Settings>
      <setting name="TPAddress" serializeAs="String">
        <value>http://tp.yaharasoftware.com</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </TPAdministration.Properties.Settings>
  </userSettings>
</configuration>